.venv/
env/
extra/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
pdfs/
*.pdf
chroma_db_local/
mem0_qdrant_data/
*.log
query_performance_log.csv
rag_metrics_log.csv
system_performance_log.csv
pdfs/*.pdf
.DS_Store
__init__.py
!chat_history/__init__.py
chat_sessions.json
logs/